<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Growth Automated Tests" preserve-order="true" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.pov.automation.essentials.testUtilities.Listeners.TestListener"/>
    </listeners>

    <test name="Story one" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.pov.automation.tests.CheckAppHealth"/>
        </classes>
    </test>
</suite>


